<mat-toolbar color="primary">
  <a routerLink="" mat-button>
    <mat-icon>directions_bus</mat-icon>
    Bilety
  </a>
  <span class="spacer"></span>  
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuth$ | async">
    <span>{{(currentUser$ | async)?.givenName}} {{(currentUser$ | async)?.familyName}} </span>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="my-tickets">
      <span>Moje bilety</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span>Wyloguj</span>
    </button>
  </mat-menu>  
  <button mat-button *ngIf="!(isAuth$ | async)" (click)="login()">
    Zaloguj
  </button>
</mat-toolbar>