<h2>Dane pasażera</h2>
<div class="p-container">
  <mat-form-field appearance="outline">
    <mat-label>Imię</mat-label>
    <input matInput [(ngModel)]="firstName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nazwisko</mat-label>
    <input matInput [(ngModel)]="lastName">
  </mat-form-field>
</div>
<h2>Dane biletu</h2>
<div class="t-container">
  <div class="row date">
    <b>{{journey?.date | date:'dd.MM.yyyy'}}</b>
  </div>
  <div class="row">
    <div>{{journey?.departureTime | slice:0:5}}</div>
    <div>{{journey?.stationFrom}}</div>
  </div>
  <div class="row">
    <div>{{journey?.arrivalTime | slice:0:5 }}</div>
    <div>{{journey?.stationTo}}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="last-row l-txt">
    <div>Cena:</div>
    <div><b>{{journey?.price}} zł</b></div>
  </div>
  <div class="btn">
    <button *ngIf="!clicked" mat-raised-button color="primary" (click)="buyTicket()">
      Zapłać
    </button>
    <mat-spinner *ngIf="clicked"></mat-spinner>
  </div>
  
</div>